// Placeholders
%full-screen {
  width: 100%;
  height: 100vh;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%margin-center {
  margin-left: auto;
  margin-right: auto;
}

%cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

// Functions
@function toRem($value) {
  $remValue: $value / $base-font-size + rem;
  @return $remValue;
}

@function responsiveWidth($value) {
  $length: calc(#{$value} / 3840 * 100vw);
  @return $length;
}

@function responsiveHeight($value) {
  $length: calc(#{$value} / 2160 * 100vh);
  @return $length;
}

// Mixins
@mixin localize($property, $ar-value, $en-value) {
  #{$property}: $ar-value;

  [class='en'] & {
    #{$property}: $en-value;
  }
}

@mixin typography($font-family, $font-size, $line-height) {
  font-family: $font-family;
  font-size: toRem($font-size);
  line-height: toRem($line-height);
}

@mixin responsiveSize($width, $height) {
  width: responsiveWidth($width);
  height: responsiveHeight($height);
}
