// Placeholders
%full-screen {
  width: 100%;
  height: 100vh;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

// Functions
@function toRem($value) {
  $remValue: $value / $base-font-size + rem;
  @return $remValue;
}

// Mixins
@mixin localize($property, $ar-value, $en-value) {
  #{$property}: $ar-value;

  [class='en'] & {
    #{$property}: $en-value;
  }
}

@mixin typography($font-family, $font-size, $line-height) {
  font-family: $font-family;
  font-size: toRem($font-size);
  line-height: toRem($line-height);
}
