body {
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $smm-dark-gray;
  color: $white;
}

.full-screen {
  width: 100%;
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.debug {
  border: 3px solid red;
}
