html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

pre {
  outline: 1px solid #ccc;
  padding: 20px;
  .string {
    color: #008000;
  }
  .number {
    color: #0ff;
  }
  .boolean {
    color: #b22222;
  }
  .null {
    color: #808080;
  }
  .key {
    color: #000;
  }
}
