body {
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $smm-dark-gray;
  color: $white;
}

.debug {
  border: 3px solid red;
}
