.current-scores {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  .item {
    padding-bottom: 10px;
  }
  .item.active {
    border: 2px solid $smm-green;
  }
  .item.correct {
    background-color: $smm-green;
  }
}
