.media {
  img,
  video {
    width: toRem(1900);
    height: toRem(1200);
  }

  &.active {
    filter: drop-shadow(0 0 toRem(70) #00ffd9);
  }
}

.media.multi {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: toRem(50);

  & > div {
    border: toRem(3) solid $white;
    border-radius: toRem(20);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    &.correct {
      background: linear-gradient(180deg, #0d003a 0%, #22cab1 108.41%);
      box-shadow: 0 0 toRem(70) #00ffd9;
    }
  }

  img {
    width: toRem(699);
    height: toRem(395);
  }

  .index {
    font-family: $smm-en-font;
    font-size: toRem(70);
    border-radius: 50%;
    background: $white;
    color: #0d003a;
    font-weight: 700;
    width: toRem(118.8);
    height: toRem(118.8);
    @extend %flex-center;
    margin: 0 toRem(96);
  }
}
