.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // gap: toRem(80);
}

.question {
  padding-top: toRem(80);
  h2 {
    @include localize('font-size', toRem(100), toRem(80));
    @include localize('letter-spacing', 0, 0.18em);
  }

  p {
    @include localize('font-size', toRem(60), toRem(45));
    line-height: 1.5;
    max-width: toRem(2500);
    margin: toRem(50) auto 0 auto;
  }
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: toRem(100);
  align-items: center;
  margin: 0 toRem(150);

  &.layout-two {
    grid-template-columns: 1fr auto 1fr;
  }

  & > div {
    &:first-child,
    &:last-child {
      $x: (3840 - 1900) / 2 - 100;
      max-width: toRem($x);
    }
  }
}

.video-wrapper {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
