.question {
  position: relative;
  width: 100%;
  display: block;
}

.question__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// Solution
.solution {
  text-align: left;
  padding: 0 50px;
}

// Media

.question__grid .media-wrapper .multi-choice {
  width: 100%;
  img,
  video {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 10px auto;
  }
}

// Options

// Scores
.current-scores {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  .item {
    padding-bottom: 10px;
  }
  .item.active {
    border: 2px solid $smm-green;
  }
}
