.introduction {
  @extend %full-screen;
  display: grid;
  grid-template-columns: auto 41%;
  align-items: center;
}

.video-wrapper {
  height: 100%;
  video {
    @extend %cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.title-wrapper {
  height: 100%;
  @extend %flex-center;
  text-align: center;
  position: relative;

  h1 {
    @include localize('font-size', toRem(160), toRem(100));
    @include localize('letter-spacing', 0, 0.18em);
  }

  p {
    padding: 0 1rem;
    width: 100%;
    position: absolute;
    left: 0;
    @include localize('bottom', toRem(81.03), toRem(99.09));
    @include localize('font-size', toRem(45), toRem(35));
  }
}
