.introduction {
  @extend %full-screen;
  @extend %flex-center;
}

.video-wrapper {
  flex: 1;
  position: relative;

  video {
    width: 100%;
  }

  button {
    @extend %abs-center;
  }
}

.title-wrapper {
  flex: 1;
  @extend %text-center;
}
