.score {
  @extend %full-screen;
  text-align: center;
}

.video-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;

  video {
    width: 100%;
  }

  button {
    @extend %abs-center;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .item {
    padding: 50px;
    border: 2px solid $white;
  }
}
